<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <h1>{{errorMessage}}</h1>
    </div>
        {{>footer}}
</body>
</html>


